.modelSelector {
    .select {
      flex: 1;
      padding: 0.5rem;
      border-radius: 0.5rem;
      border: 2px solid #6b7280;
      transition: all 0.2s;
      background-color: white;
      color: black;
      font-size: 0.75rem;
      
      &:hover {
        background-color: #e5e7eb;
      }
      
      &:focus {
        outline: none;
        box-shadow: 0 0 0 2px #3b82f6;
      }
  
      &:disabled {
        cursor: not-allowed;
      }
    }
  }